body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: grid;
}

div.content {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    z-index: 0;
}

div.aboutme,
div.skills,
div.research {
    padding: 4%;
}

div.research {
    padding-bottom: 20%;
}

#header {
    background-image: url(../img/headerbg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    height: 80vh;
    width: 100%;
    align-self: center;
    align-items: center;
    /* height: 100vw;
    width: 100vw; */
}

.header {
    font-family: 'poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    padding: 10% 0px 0px 0px;
}


/* typing */

.container {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    font-size: 2.5rem;
    padding: 0.1rem;
    padding-top: 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container p span.typed-text {
    font: 'poppins';
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: bold;
    color: #0aaa6a;
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: rgba(204, 204, 204, 0.433);
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* Navigation */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

@supports (position: sticky) {
    body {
        padding-top: 0;
    }
    header {
        position: sticky;
    }
}

.navbar {
    position: absolute;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
}

.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff00;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.navbar .nav .item a {
    text-decoration: none;
    color: inherit;
}

.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 1%;
    margin-left: 5%;
    width: 80px;
    height: 100px;
    /* background-color: firebrick; */
    background: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.navbar .logo img {
    display: none;
}

.scrolled {
    transition: 0.5s ease;
}

.scrolled.navbar {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.063);
    transition: 0.5s ease;
}

.scrolled.navbar .nav .item {
    line-height: 50px;
    transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff00;
    height: 50px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    /* background-color: firebrick; */
    background: url(../img/logo-no-name.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}


/* Social Media Icons */


/* Waves */